body {
  background-color: #f1f5f2;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

main {
  display: grid;
  height: 100vh;
  width: 100vw;
  place-items: center;
}

section {
  background-color: #eee5e9;
  background: linear-gradient(-45deg, #000000, #ffffff, #000000);
  background-size: 400% 400%;
  display: grid;
  border-radius: 1rem;

  place-items: center;
  min-width: 320px;
  max-width: 1000px;

  min-height: 320px;
  height: auto;
  box-shadow: 0 0 30px 3px #999;
  transition: all 0.1s;
  animation: load 3s infinite;

  &:has(img.hide) {
    cursor: not-allowed;
  }

  img {
    border-radius: 1rem;
    transition: all 0.5s;

    &.hide {
      opacity: 0;
      /*filter: saturate(0);*/
    }
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
    background-size: 100% 100%;
  }

  &:active {
    transform: scale(1);
  }

  & h4 {
    background-color: #000000d8;
    width: 100%;
    height: 100%;
    text-align: center;
    place-content: center;
    color: #ff9c8a;
    border-radius: 1rem;

    & img {
      height: 2.5rem;
      border-radius: 0;
    }
  }
}

#foto{
  height: 60vh;
}

@keyframes load {
  0%,
  100% {
    background-size: 400% 400%;
  }

  50% {
    background-size: 100% 100%;
  }
}

@media (max-width: 710) {
  #foto {
    height: auto;
  }
}
